body{background-color:#4298f5;
width:70%;
margin:auto;
padding:3em 0px 4em 0px;
border-color:#000000;
border-width:5px;


}


h1, h2, h3, h4 {
font-family:Times New Roman;
font-size:20pt;
color:#392640;
font-style:italic;
font-weight:small-caps;
}
a[href] {
color:#aced15;
text-decoration:underline;
}
a[href]:hover {
color:#ace32d;
text-decoration:underline;
code {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 3px;
    background-color: #ffc;
}

}

}

table {padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-color: #000000;
    border-top-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-right-width: medium;
    border-style: inset;
    background-color:#07ed29
}
ul       { max-width: 15em; border: 3px solid black; padding-top: 1%; padding-bottom: 1%; padding-right:1%; padding-left:3% }
li       { background-color:#07ed29 ; margin: 2px; }
.outside { list-style-position: outside; }
.inside  { list-style-position: inside; }
ol, ul {
   display: block;
   list-style-type:square;
   list-style-type: square;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   padding-left: 40px;
}

img {
border-style:groove;
border-color:black
}





  







